.git/*
.DS_Store

license
yarn.lock
.travis.yml

.yarnclean
.eslintignore
.prettierignore
.npmignore
.gitignore
.gitattributes
.dockerignore
.editorconfig

dist
build

*.ico
*.html
*.log
*.svg
*.map
*.png
*.snap
*.ttf
*.sh
*.txt